// General
.mto-hidden {
  display: none;
}

.mto-show {
  display: show;
}

.mto-flex {
  display: flex;
  flex-wrap: wrap;
}

.mto-inline-flex {
  display: inline-flex;
}

.mto-flex-ycenter {
  align-items: center;
}

.mto-flex-xcenter {
  justify-content: center;
}

.mto-flex--space-between {
  justify-content: space-between;
}

ul {
  li {
    margin: 0;
  }
}

// Badge
.mto-badge {
  padding: 4px 16px;
  font-size: 12px;
  border-radius: 100px;
  color: white;

  &.mto-badge-red {
    background: $mto-badge-red;
  }
  &.mto-badge-green {
    background: $mto-badge-green;
  }
  &.mto-badge-blue {
    background: $mto-badge-blue;
  }

  &.mto-badge-pink {
    background: $mto-badge-pink;
  }
}

//svg icon
.mto-icon-svg > svg {
  width: 24px;
  height: 24px;
  display: inherit;
}

// Progress bar
.mto-pbar {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.mto-progressbar {
  height: 16px;
  position: relative;
  background: lighten($mto-primary-color, 20%);
  overflow: hidden;
  border-radius: 50px;
  span {
    display: block;
    height: 100%;
  }
}

.mto-progress {
  background: $mto-primary-color;
  animation: progressbar 3s ease-in-out;
  animation-fill-mode: both;
  padding: 0 10px;
  font-size: 9px;
  color: white;

  @keyframes progressbar {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
}
