// General
.mto-hidden {
  display: none;
}

.mto-show {
  display: show;
}

.mto-flex {
  display: flex;
  flex-wrap: wrap;
}

.mto-flex-ycenter {
  align-items: center;
}

.mto-flex-xcenter {
  justify-content: center;
}

.mto-flex--space-between {
  justify-content: space-between;
}

//svg icon
.mto-icon-svg {
  width: 24px;
  height: 24px;
}

// Progress bar
.mto-pbar {
  display: inline-flex;
  flex-direction: column;
  gap: 4px;
}
.mto-progressbar {
  height: 16px;
  position: relative;
  background: lighten($mto-primary-color, 20%);
  overflow: hidden;
  border-radius: 50px;
  span {
    display: block;
    height: 100%;
  }
}

.mto-progress {
  background: $mto-primary-color;
  animation: progressbar 3s ease-in-out;
  animation-fill-mode: both;
  padding: 0 10px;
  font-size: 9px;
  color: white;

  @keyframes progressbar {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
}
