// masteriyo-Container
.masteriyo-container,
.masteriyo-container-fluid,
.masteriyo-container-sm,
.masteriyo-container-md,
.masteriyo-container-lg,
.masteriyo-container-xl {
	width: 1170px;
	max-width: 100%;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
