// Medium devices (tablets, less than 992px)
@media (max-width: 992px) {
	.masteriyo-form-container {
		width: 70%;
	}

	.masteriyo-cstudy {
		&--body--pstatus {
			display: none;
		}
	}

	.masteriyo-single-course--aside {
		width: 100%;
	}

	// Single course page reviews
	.masteriyo-single-course--main__content
		.course-reviews
		.masteriyo-course-reviews-list
		.masteriyo-course-review__content {
		flex-direction: column;
		.masteriyo-avatar {
			margin-bottom: 8px;
		}

		.masteriyo-right {
			width: 100%;
			margin: 0px;
		}
	}

	// Course list page responsive
	.columns-4,
	.columns-3,
	.columns-2 {
		.masteriyo-col {
			flex: 0 0 50%;
			max-width: 50%;
			padding: 15px;
			width: 50%;
		}

		.masteriyo-course--card {
			flex-basis: 335px;
		}
	}

	.columns-1 {
		.masteriyo-course--card {
			flex-basis: 100%;
		}
	}

	// Related Post
	.masteriyo-related-post {
		.masteriyo-single-course-item {
			flex-direction: column;
		}
	}

	.masteriyo-single-course--main {
		width: 100%;
	}

	.masteriyo-col-8,
	.masteriyo-col-4 {
		width: 100%;
		flex: 1 1 100%;
		max-width: 100%;
	}

	.masteriyo-item--wrap {
		.masteriyo-single-course-item > div {
			padding-top: 8px;
			padding-bottom: 8px;
		}
	}
}
