// Small devices (landscape phones, less than 768px)
@media (max-width: 768px) {
	//Form contianer
	.mto-form-container {
		width: 80%;
	}
}

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 576px) {
	// Form container
	.mto-form-container,
	.mto-btn {
		width: 100%;
	}
	.mto-login .mto-btn-wrapper,
	.mto-reset .mto-btn-wrapper {
		flex-direction: column;
	}
	.mto-login .mto-btn,
	.mto-reset .mto-btn {
		margin-bottom: 24px;
	}
	// Dashbord Continue Studying
	.mto-cstudy {
		&--btn {
			width: inherit;
		}
	}

	.mto-course-item,
	.mto-courses--card {
		flex-basis: 100%;
		// width: 256px;
		width: 100%;
	}

	// Course list page responsive

		.col {
			flex: 0 0 100%;
			max-width: 100%;
			padding: 15px;
			width: 100%;
		}

	.columns-4,
	.columns-3,
	.columns-2,
	.columns-1 {
		.mto-course {
			flex-direction: row;
		}

		.col {
			flex: 0 0 100%;
			max-width: 100%;
			padding: 15px;
			width: 100%;
		}

		.mto-course-item {
			flex-basis: 100%;
		}
	}

	.plr-32 {
		padding-left: 18px !important;
		padding-right: 18px !important;
	}

	.mto-stab {
		gap: 32px;
	}

	.mto-avatar {
		margin-left: 18px;
	}
}
