// Small devices (landscape phones, less than 768px)
@media (max-width: 768px) {
	//Form contianer
	.masteriyo-form-container {
		width: 80%;
	}

	.masteriyo-related-post__title {
		margin: 15px;
	}

	.masteriyo-item--wrap {
		margin: 0px;

		.masteriyo-col-4 {
			padding-top: 8px;
			padding-bottom: 8px;
		}
	}
}

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 576px) {
	// Form container
	// .masteriyo-form-container,
	// .masteriyo-btn {
	// 	width: 100%;
	// }

	.masteriyo-login .masteriyo-btn-wrapper,
	.masteriyo-reset .masteriyo-btn-wrapper {
		flex-direction: column;
	}

	.masteriyo-login .masteriyo-btn,
	.masteriyo-reset .masteriyo-btn {
		margin-bottom: 24px;
	}

	// Dashbord Continue Studying
	.masteriyo-cstudy {
		&--btn {
			width: inherit;
		}
	}

	.masteriyo-courses--card {
		flex-basis: 100%;
		width: 100%;
	}

	// Course list page responsive

	.masteriyo-col {
		flex: 0 0 100%;
		max-width: 100%;
		padding: 15px;
		width: 100%;
	}

	.columns-4,
	.columns-3,
	.columns-2,
	.columns-1 {
		.masteriyo-course {
			flex-direction: row;
		}

		.masteriyo-col {
			flex: 0 0 100%;
			max-width: 100%;
			padding: 15px;
			width: 100%;
		}

		.masteriyo-course--card {
			flex-basis: 100%;
		}
	}

	.masteriyo-stab {
		gap: 32px;
	}

	.masteriyo-avatar {
		margin-left: 18px;
	}
}
