#masteriyo {
	margin-left: -20px;

	.mto-nav-link.active {
		@apply mto-border-b-2 mto-border-solid mto-border-primary mto-text-primary;
	}

	.mto-icon svg {
		width: 1em;
		height: 1em;
		fill: currentColor;
	}

	.rc-tabs {
		@apply mto-border-none;

		.rc-tabs-ink-bar {
			@apply mto-bg-primary;
			height: 2px;
		}

		.rc-tabs-nav-wrap {
			@apply mto-justify-center mto-border-b mto-border-gray-100 mto-mb-10;
		}

		.rc-tabs-tab {
			@apply mto-font-medium mto-text-base mto-py-4 mto-px-6 mto-transition-colors;

			&-active {
				@apply mto-font-medium mto-text-primary;
			}
		}
	}

	.Collapsible {
		@apply mto-border mto-border-gray-100 mto-rounded-sm mto-mb-4;
	}

	.ReactCollapse--collapse {
		transition: height 0.35s;
	}

	[type='checkbox']:checked,
	[type='radio']:checked {
		@apply mto-bg-green-400;
	}
}
