// Badge
.masteriyo-badge {
	font-size: 12px;
	font-weight: 500;
	text-transform: uppercase;
	text-decoration: none;
	padding: $spacing_4px $spacing_12px;
	border-radius: $border_radius_50;
	color: var(--masteriyo-color-primary);
	background-color: var(--masteriyo-color-primary-a10);

	&.masteriyo-badge-red {
		background-color: var(--masteriyo-color-badge-red);
	}

	&.masteriyo-badge-green {
		background-color: var(--masteriyo-color-badge-green);
	}

	&.masteriyo-badge-blue {
		background-color: var(--masteriyo-color-badge-blue);
	}

	&.masteriyo-badge-yellow {
		background-color: var(--masteriyo-color-warning);
	}

	&.masteriyo-badge-pink {
		background-color: var(--masteriyo-color-badge-pink);
	}
}
