.masteriyo-btn {
	font-size: 14px;
	font-weight: 500;
	padding: 10px 12px;
	text-align: center;
	text-decoration: none;
	@include masteriyo-border-radius;
	@include masteriyo-default-animate;

	//Default buttons
	&-default {
		background: $masteriyo-white-color;
		@include masteriyo-default-border;
		color: $masteriyo-btn-gray;

		&:hover {
			background: $masteriyo-btn-active-blue;
			border-color: $masteriyo-btn-active-blue;
			color: $masteriyo-white-color;
			@include masteriyo-shadow-1;
		}

		&:focus,
		&:active {
			background: $masteriyo-btn-active-blue;
			border-color: $masteriyo-btn-active-blue;
			color: $masteriyo-white-color;
		}

		&--lg {
			padding: 12px 16px;
			font-size: 14px;
		}

		&--xl {
			padding: 16px 20px;
			font-size: 16px;
		}
	}

	// Primary Buttons
	&-primary {
		background: $masteriyo-primary-color;
		border-color: $masteriyo-primary-color;
		color: $masteriyo-white-color;

		&:hover {
			background: $masteriyo-btn-hover-blue;
			border-color: $masteriyo-btn-hover-blue;
		}

		&:focus,
		&:active {
			background: $masteriyo-btn-active-blue;
			border-color: $masteriyo-btn-active-blue;
		}

		&--lg {
			padding: 12px 16px;
			font-size: 14px;
		}

		&--xl {
			padding: 16px 20px;
			font-size: 16px;
		}
	}

	// Accent Buttons
	&-accent {
		background: $masteriyo-accent-color;
		border-color: $masteriyo-accent-color;
		color: $masteriyo-white-color;

		&:hover {
			background: darken($masteriyo-accent-color, 10%);
			border-color: darken($masteriyo-accent-color, 10%);
		}

		&:focus,
		&:active {
			background: darken($masteriyo-accent-color, 20%);
			border-color: darken($masteriyo-accent-color, 20%);
		}

		&--lg {
			padding: 12px 16px;
			font-size: 14px;
		}

		&--xl {
			padding: 16px 20px;
			font-size: 16px;
		}
	}

	// Disabled button
	&-disabled {
		background: $masteriyo-disabled-color;
		color: $masteriyo-disabled-text-color;

		&:hover {
			background: $masteriyo-disabled-color;
			color: $masteriyo-disabled-text-color;
			border-color: $masteriyo-border-color;
			cursor: not-allowed;
		}

		&:focus,
		&:active {
			background: $masteriyo-disabled-color;
			color: $masteriyo-disabled-text-color;
			border-color: $masteriyo-border-color;
		}

		&--lg {
			padding: 12px 16px;
			font-size: 14px;
		}

		&--xl {
			padding: 16px 20px;
			font-size: 16px;
		}
	}
	// Outline Buttons
	&-outline {
		color: $masteriyo-disabled-text-color;
		border: 1px solid $masteriyo-border-color;
		background: transparent;

		&:hover {
			color: $masteriyo-disabled-text-color;
			border-color: #e2e8f0;
			background: #e2e8f0;
		}

		&:focus,
		&:active {
			background: $masteriyo-disabled-color;
			color: $masteriyo-disabled-text-color;
			border-color: $masteriyo-border-color;
		}

		&--lg {
			padding: 12px 16px;
			font-size: 14px;
		}

		&--xl {
			padding: 16px 20px;
			font-size: 16px;
		}
	}

	// Red Buttons
	&-warning {
		color: $masteriyo-white-color;
		border: 1px solid $masteriyo-border-color;
		background: $masteriyo-badge-red;

		&:hover {
			color: $masteriyo-white-color;
			border-color: #e2e8f0;
			background: darken($masteriyo-badge-red, 10%);
		}

		&:focus,
		&:active {
			background: darken($masteriyo-badge-red, 10%);
			color: $masteriyo-white-color;
			border-color: #e2e8f0;
		}

		&--lg {
			padding: 12px 16px;
			font-size: 14px;
		}

		&--xl {
			padding: 16px 20px;
			font-size: 16px;
		}
	}
}

// Links
.masteriyo-link-primary {
	color: $masteriyo-primary-color;
	font-weight: 500;
	text-decoration: underline;
	&:hover {
		color: rgba($masteriyo-primary-color, 0.8);
	}
}
