.masteriyo-dropdown {
	width: 32px;
	height: 32px;
	position: relative;

	span {
		background: var(--masteriyo-color-white);
		border-radius: $border_radius_4;
		font-size: 1.2em;
		font-variant: small-caps;
		cursor: pointer;
		display: block;
		height: 32px;
		width: 32px;
		display: flex;
		align-items: center;
		justify-content: center;
		box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.03);
	}
}

span::after {
	float: right;
	right: 10%;
}

.slide {
	clear: both;
	height: 0;
	overflow: hidden;
	transition: height 0.4s ease;
	position: absolute;
	background: var(--masteriyo-color-white);
	right: 0;
	top: 36px;
	max-height: 72px;
	@include masteriyo-shadow-1;
	border-radius: $border_radius_4;

	li {
		padding: $spacing_6px $spacing_12px;
		cursor: pointer;
		border-bottom: 1px solid var(--masteriyo-color-border);

		strong {
			font-weight: 400;
		}

		&:hover {
			background-color: var(--masteriyo-color-primary-lightest);
		}

		.text {
			font-size: 12px;
			line-height: 14px;
			color: var(--masteriyo-color-text);
			font-weight: normal;
			text-decoration: none;
		}

		&:last-child {
			padding-top: $spacing_6px;
			padding-bottom: $spacing_6px;
		}
	}
}

.icon_box {
	text-align: center;
	@include masteriyo-shadow-2;
	border: 1px solid var(--masteriyo-color-border);

	&:hover {
		background-color: var(--masteriyo-color-primary-lightest);
		border: 1px solid var(--masteriyo-color-primary-lightest);
	}
}

#touch {
	position: absolute;
	opacity: 0;
	height: 0;

	&:checked + .slide {
		height: 300px;
	}
}
