// Form Container
.masteriyo-form-container {
	width: 36em;
	padding: $spacing_40px;
	border: 1px solid var(--masteriyo-color-border);
	@include masteriyo-default-border;
}

// Alert messages
.masteriyo-alert {
	padding: $spacing_8px $spacing_16px;
	margin: $spacing_8px 0;
	@include masteriyo-default-border;
	@include masteriyo-border-radius;
}

// Error
.masteriyo-error {
	margin: $spacing_8px 0;
}

.masteriyo-info-msg {
	background: var(--masteriyo-color-info-a10);
	color: var(--masteriyo-color-info);
	border-color: var(--masteriyo-color-info);
}

.masteriyo-warning-msg {
	background: var(--masteriyo-color-warning-a10);
	color: var(--masteriyo-color-warning);
	border-color: var(--masteriyo-color-warning);
}

.masteriyo-danger-msg {
	background: var(--masteriyo-color-danger-a10);
	color: var(--masteriyo-color-danger);
	border-color: var(--masteriyo-color-danger);
}

.masteriyo-success-msg {
	background: var(--masteriyo-color-success-a10);
	color: var(--masteriyo-color-success);
	border-color: var(--masteriyo-color-success);
}

.masteriyo-delete-msg {
	background: var(--masteriyo-color-grey-light);
	color: var(--masteriyo-color-text-light);
	border-color: var(--masteriyo-color-border);
}

// Labels
.masteriyo-label {
	font-size: 14px;
	font-weight: 500;
	color: var(--masteriyo-color-heading);
	display: inherit;
	margin-bottom: $spacing_8px;
}

// Fields
.masteriyo-input {
	padding: $spacing_8px $spacing_16px;
	outline: none;
	width: calc(100% - $spacing_32px);
	@include masteriyo-default-border(2);
	@include masteriyo-border-radius;

	&::placeholder {
		color: var(--masteriyo-color-placeholder);
	}

	&:hover {
		border-color: var(--masteriyo-color-primary);
	}

	&:focus,
	&:active {
		border-color: var(--masteriyo-color-primary);
		background-color: var(--masteriyo-color-primary-lightest);
		color: var(--masteriyo-color-heading);
	}

	&.success {
		border-color: var(--masteriyo-color-success);
	}

	&.danger {
		border-color: var(--masteriyo-color-danger);
	}

	&.warning {
		border-color: var(--masteriyo-color-warning);
	}
}
