// Form Container
.masteriyo-form-container {
  width: 36em;
  padding: 40px;
  @include masteriyo-shadow-1;
  @include masteriyo-default-border;
}

// Alert messages
.masteriyo-alert {
  padding: 8px 16px;
  margin: 8px 0px;
  @include masteriyo-default-border;
  @include masteriyo-border-radius;
}

// Error
.masteriyo-error {
  margin: 8px 0px;
}
.masteriyo-info-msg {
  background: rgba($masteriyo-info-color, 0.1);
  color: $masteriyo-info-color;
  border-color: $masteriyo-info-color;
}
.masteriyo-warning-msg {
  background: rgba($masteriyo-warning-color, 0.1);
  color: $masteriyo-warning-color;
  border-color: $masteriyo-warning-color;
}
.masteriyo-danger-msg {
  background: rgba($masteriyo-danger-color, 0.1);
  color: $masteriyo-danger-color;
  border-color: $masteriyo-danger-color;
}
.masteriyo-success-msg {
  background: rgba($masteriyo-success-color, 0.1);
  color: $masteriyo-success-color;
  border-color: $masteriyo-success-color;
}

// Labels
.masteriyo-label {
  font-size: 14px;
  font-weight: 500;
  color: $masteriyo-heading-color;
  display: inherit;
  margin-bottom: 8px;
}

// Fields
.masteriyo-input {
  padding: 16px;
  outline: none;
  width: 100%;
  @include masteriyo-default-border(2);
  @include masteriyo-border-radius;

  &::placeholder {
    color: $masteriyo-placeholder-color;
  }
  &:hover {
    border-color: $masteriyo-primary-color;
  }
  &:focus,
  &:active {
    border-color: $masteriyo-primary-color;
    background-color: $masteriyo-lighter-gray;
    color: $masteriyo-heading-color;
  }
  &.success {
    border-color: $masteriyo-success-color;
  }
  &.danger {
    border-color: $masteriyo-danger-color;
  }
  &.warning {
    border-color: $masteriyo-warning-color;
  }
}
