.masteriyo--modal {
	max-width: 500px;
	width: 100%;
	background-color: var(--masteriyo-color-white);
	box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
	visibility: visible;
	border-radius: $border_radius_8;

	.masteriyo--title {
		padding: $spacing_24px $spacing_24px 0 $spacing_24px;
		margin: 0;
	}

	.masteriyo--content {
		padding: $spacing_14px $spacing_24px;
	}

	.masteriyo-actions {
		padding: 0 $spacing_24px $spacing_24px $spacing_24px;
		border-bottom-left-radius: $border_radius_8;
		border-bottom-right-radius: $border_radius_8;
		text-align: right;

		.masteriyo-btn:last-child {
			margin-left: $spacing_8px;
		}
	}
}
