.page-numbers {
	display: flex;
	width: fit-content;
	border-radius: $border_radius_8;
	background: var(--masteriyo-color-white);
	box-shadow: 0 0.8rem 2rem rgba(0, 0, 0, 0.05);
	margin: auto;

	.prev,
	.next {
		display: flex;
	}

	li {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0.8rem;
		font-size: 1.4rem;
		cursor: pointer;
		width: 2.6rem;
		height: 2.6rem;

		&:hover {
			color: var(--masteriyo-color-primary);
		}

		span {
			width: 100%;
			display: flex;
			justify-content: center;

			&.current {
				color: var(--masteriyo-color-white);
				background: var(--masteriyo-color-primary);
				font-weight: 600;
				border: 1px solid var(--masteriyo-color-primary);
				border-radius: $border_radius_8;
				box-shadow: 0 0.8rem 2rem rgba(0, 0, 0, 0.05);
			}
		}
	}

	.prev {
		cursor: pointer;
		fill: var(--masteriyo-color-btn-grey);

		&:hover {
			svg {
				fill: var(--masteriyo-color-primary) !important;
			}
		}
	}
}
