.page-numbers {
	display: flex;
	width: fit-content;
	border-radius: 8px;
	background: #ffffff;
	box-shadow: 0 0.8rem 2rem rgba(#5a6181, 0.05);
	margin: auto;
	// margin-top: 2rem;

	.prev,
	.next {
		display: flex;
	}

	li {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0.8rem;
		font-size: 1.4rem;
		cursor: pointer;
		width: 2.6rem;
		height: 2.6rem;

		&:hover {
			color: $masteriyo-primary-color;
		}

		span {
			width: 100%;
			display: flex;
			justify-content: center;

			&.current {
				color: #ffffff;
				background: $masteriyo-primary-color;
				font-weight: 600;
				border: 1px solid $masteriyo-primary-color;
				border-radius: 8px;
				box-shadow: 0 0.8rem 2rem rgba(#5a6181, 0.05);
			}
		}
	}

	.prev {
		cursor: pointer;
		fill: $masteriyo-btn-gray;

		&:hover {
			svg {
				fill: $masteriyo-primary-color !important;
			}
		}
	}
}
