.masteriyo-vertical-menu {
	// General
	border-right: 1px solid var(--masteriyo-color-border);
	flex: 1 1 20%;
	min-width: 200px;
	padding-top: $spacing_40px;

	& svg {
		width: 24px;
		height: 24px;
		fill: var(--masteriyo-color-text-light);
	}
}

.masteriyo-sidebar-wrapper {
	// Profile
	.masteriyo-profile {
		display: flex;
		flex-direction: row;
		align-items: center;

		&--img {
			width: 40px;
			height: 40px;
			border-radius: $border_radius_100pct;
			@include masteriyo-shadow-1;
		}

		&--name {
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 16px;
			word-break: break-all;

			& svg {
				width: 16px;
				height: 16px;
			}
		}

		&--name {
			font-size: 16px;
			font-weight: 600;
		}

		&--details {
			margin-left: $spacing_16px;
		}
	}

	// Menu
	.masteriyo-menu {
		background: var(--masteriyo-color-white);
		margin-top: $spacing_40px;

		ul {
			margin: 0;
			padding: 0;

			li {
				display: flex;
				align-items: center;
				list-style-type: none;
				padding: 16px;
				border: 1px solid var(--masteriyo-color-white);

				&.active,
				&:hover {
					margin-right: -1px;
					@include masteriyo-default-border;
					border-radius: $border_radius_4 0 0 $border_radius_4;
					border-right: 1px solid var(--masteriyo-color-white);

					& svg {
						fill: var(--masteriyo-color-blue-dark);
					}
				}

				a {
					text-decoration: none;
					display: inline-flex;
					width: 100%;
					gap: 10px;
					align-items: center;
				}
			}
		}
	}
}
