// Alert messages
.alert {
  padding: 14px 12px;
  margin: 8px 0px;
  @include border-default();
  @include border-radius();
}
// Error
.error {
  margin: 8px 0px;
}
.info-msg {
  background: rgba($info-color, 0.03);
  color: $info-color;
  border-color: $info-color;
}
.warning-msg {
  background: rgba($warning-color, 0.03);
  color: $warning-color;
  border-color: $warning-color;
}
.danger-msg {
  background: rgba($danger-color, 0.03);
  color: $danger-color;
  border-color: $danger-color;
}
.success-msg {
  background: rgba($success-color, 0.03);
  color: $success-color;
  border-color: $success-color;
}
// Labels
label {
  font-size: $text-sm;
  font-weight: 500;
  color: $heading-color;
  display: inherit;
  margin-bottom: 15px;
}
// Fields
input {
  padding: 16px;
  outline: none;
  width: 100%;
  @include border-default(2);
  @include border-radius();

  &::placeholder {
    color: $placeholder-color;
  }
  &:hover {
    border-color: $primary-color;
  }
  &:focus,
  &:active {
    border-color: $primary-color;
    background-color: $lighter-gray;
    color: $heading-color;
  }
  &.success {
    border-color: $success-color;
  }
  &.danger {
    border-color: $danger-color;
  }
  &.warning {
    border-color: $warning-color;
  }
// Dropdown selection
}
.dropdown {
  position: relative;
  select {
    @extend input;
  }
}