.masteriyo {
	.masteriyo-order {
		background-color: var(--masteriyo-color-white);
		@include masteriyo-shadow-1;

		&:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.wp-block-separator):not(.woocommerce) {
			display: inherit;
			padding: $spacing_30px;
			width: 600px;
			border-radius: $border_radius_8;

			.masteriyo-notice {
				margin-bottom: $spacing_30px;
				padding: $spacing_8px $spacing_16px;
				border-radius: $border_radius_4;
				font-size: 14px;
				font-weight: 500;

				&--danger {
					background-color: var(--masteriyo-color-danger);
				}

				&--success {
					background-color: var(--masteriyo-color-success);
				}

				&--info {
					background-color: var(--masteriyo-color-info);
				}

				&--warning {
					background-color: var(--masteriyo-color-warning);
				}
			}
		}

		.masteriyo-order-overview {
			list-style-type: none;
			padding-left: 0;
			margin: 0;
			margin-bottom: $spacing_30px;
		}

		a {
			color: var(--masteriyo-color-primary);
		}
	}
}
