.masteriyo-checkout {
	margin: 0 auto;

	.masteriyo-col-2 {
		margin-left: -#{$spacing_15px};
		margin-right: -#{$spacing_15px};

		& > * {
			flex: 1 1 47%;
			padding-left: $spacing_15px;
			padding-right: $spacing_15px;
		}
	}

	&--title,
	&-summary--title {
		margin-bottom: $spacing_10px;
		font-size: 24px;
	}

	&-wrapper {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	&---fname-lname-wrapper {
		display: flex;
		flex-direction: row;
	}

	&----street > input {
		margin-bottom: $spacing_12px;
	}

	&-main {
		display: flex;
		flex-direction: column;
		flex: 1 1 60%;
		padding: $spacing_20px $spacing_30px $spacing_20px 0;

		& > :not(:last-child) {
			margin-bottom: $spacing_30px;
		}
	}

	// Your order.
	&-summary {
		flex: 1 1 35%;

		&-your-order {
			padding: $spacing_20px;
			margin-bottom: $spacing_30px;
			background-color: var(--masteriyo-color-white);
			border: 1px solid var(--masteriyo-color-border);

			ul {
				margin: 0;
				padding: 0;
			}

			li {
				list-style-type: none;
				border-bottom: 1px solid var(--masteriyo-color-border);
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				padding: $spacing_15px 0;

				&.h-border {
					border-bottom: 1px solid var(--masteriyo-color-black);
				}

				&:last-of-type {
					border-bottom: none;
				}
			}
		}
	}

	//Payment method.
	&-summary-payment-method {
		padding: $spacing_4px $spacing_20px;
		margin-bottom: $spacing_30px;
		background-color: var(--masteriyo-color-white);
		border: 1px solid var(--masteriyo-color-border);

		.input-radio {
			margin: 0.4rem;
		}

		li.payment-method {
			list-style-type: none;
			display: flex;
			flex-wrap: nowrap;
			padding-top: $spacing_16px;

			&:last-child {
				padding-bottom: $spacing_16px;
			}
		}

		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;

			label {
				text-transform: capitalize;
				padding: 0;
				margin-bottom: 0;
			}
		}
	}

	.payment-method__detail {
		img {
			width: 100%;
		}
	}

	&--btn {
		width: 100%;
	}
}
