.masteriyo {
	.masteriyo-main,
	.entry-content
		> *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.wp-block-separator):not(.woocommerce):not(.elementor) {
		display: flex;
		justify-content: space-between;
		flex-direction: row;
		max-width: 100%;
	}

	// Dashboard
	.masteriyo-dashboard {
		display: flex;
		flex-direction: column;
		flex: 1 1 74%;
		margin-left: $spacing_40px;

		ul {
			margin: 0;
			padding: 0;

			li {
				list-style-type: none;
			}
		}

		.masteriyo-btn-primary {
			color: var(--masteriyo-color-white);
		}

		.masteriyo-button {
			color: var(--masteriyo-color-primary);
			padding: 0;
			background-color: transparent;
		}
	}

	// Welcome notify
	.masteriyo-welcome-notify {
		background: var(--masteriyo-color-primary);
		@include masteriyo-border-radius;
		padding: $spacing_32px;
		color: var(--masteriyo-color-white);
		position: relative;

		.masteriyo-title {
			font-size: 24px;
			font-weight: 500;
			color: var(--masteriyo-color-white);
			margin-bottom: $spacing_16px;
		}

		.masteriyo-welcome-msg {
			color: var(--masteriyo-color-white);
			margin: 0;
		}

		.masteriyo-close {
			position: absolute;
			right: 16px;
			top: 16px;
			width: 24px;
			height: 24px;
			border-radius: 100%;

			.masteriyo-icon-svg {
				fill: var(--masteriyo-color-white);
			}

			&:hover {
				background: var(--masteriyo-color-white-a10);
			}
		}

		.masteriyo-view-account {
			display: inline-flex;
			align-items: center;
			border-radius: $border_radius_100;
			padding-left: $spacing_24px;
			margin-top: $spacing_24px;

			&:hover {
				.masteriyo-icon-svg {
					fill: var(--masteriyo-color-white);
				}
			}
		}
	}
	// Dashboard Card
	.masteriyo-db-card {
		@include masteriyo-default-border;
		@include masteriyo-border-radius;
		@include masteriyo-default-animate;
		flex: 0 1 calc((100% / 3) - 20px);
		background-color: var(--masteriyo-color-white);
		padding: $spacing_30px;
		margin-left: $spacing_15px;
		margin-right: $spacing_15px;

		&:hover {
			@include masteriyo-shadow-1;
		}
	}

	// User counter
	.masteriyo-counter {
		display: flex;
		flex-wrap: wrap;
		margin: $spacing_30px -#{$spacing_15px} 0 -#{$spacing_15px};

		.masteriyo-icon-title {
			display: flex;
			align-items: center;

			.masteriyo-icon {
				display: inherit;
				padding: $spacing_10px;
				border-radius: $border_radius_100pct;
			}

			.masteriyo-title {
				font-size: 18px;
				font-weight: 500;
				margin: inherit;
				margin-left: $spacing_16px;
			}
		}

		&--inprogress .masteriyo-icon {
			background: var(--masteriyo-color-green-a20);

			&.masteriyo-icon-svg {
				fill: var(--masteriyo-color-green);
			}
		}

		&--scores .masteriyo-icon {
			background: var(--masteriyo-color-primary-a20);

			&.masteriyo-icon-svg {
				fill: var(--masteriyo-color-primary);
			}
		}

		&--certificates .masteriyo-icon {
			background: var(--masteriyo-color-accent-a20);

			&.masteriyo-icon-svg {
				fill: var(--masteriyo-color-accent);
			}
		}

		.masteriyo-number {
			font-size: 36px;
			font-weight: 600;
		}
	}

	// Continue Studing
	.masteriyo-cstudy {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		margin-top: $spacing_30px;

		a {
			text-decoration: none;
		}

		&--header {
			display: inline-flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			margin-bottom: $spacing_15px;
		}

		&--title {
			font-size: 24px;
			margin: inherit;
			margin-bottom: 0;
		}

		&--btn {
			display: inline-flex;
			align-items: center;
			border-radius: $border_radius_100;
		}

		&--body {
			margin-left: -#{$spacing_15px};
			margin-right: -#{$spacing_15px};

			&--wrap {
				justify-content: space-between;
				margin-top: $spacing_15px;
			}

			&--header {
				width: 210px;
				margin-left: $spacing_16px;
			}

			&--img-title {
				display: flex;
				flex-direction: row;
			}

			&--tag {
				display: flex;
				flex-wrap: wrap;
				margin-bottom: $spacing_4px;
			}

			&--pbar {
				flex: 1;
				min-width: 150px;
				margin: $spacing_15px;
			}

			&--img {
				width: 80px;
				height: 80px;
				@include masteriyo-border-radius;
			}

			&--rating {
				display: flex;
				flex-wrap: nowrap;

				&.masteriyo-icon-svg > svg {
					width: 16px;
					height: 16px;
					fill: var(--masteriyo-color-golden);
				}
			}

			&--title {
				font-size: 18px;
				font-weight: 700;
				margin-bottom: $spacing_8px;
				padding: 0;
			}

			&--rt {
				display: flex;
				flex-wrap: nowrap;
				align-items: center;
			}

			&--duration {
				display: flex;
				flex-direction: row;
				flex-wrap: nowrap;
				align-items: center;
				font-size: 14px;
				font-weight: 600;
				margin-left: 16px;

				.masteriyo-icon-svg > svg {
					width: 16px;
					height: 16px;
				}
			}

			&--time {
				margin-left: $spacing_4px;
			}

			&--pstatus {
				font-size: 16px;
				font-weight: 600;
			}

			&--caption {
				font-size: 12px;
				font-weight: 600;
			}

			&--btn {
				border-radius: $border_radius_100;
				margin-top: $spacing_15px;
				margin-bottom: $spacing_15px;
			}
		}
	}
}
