.masteriyo-main {
  gap: 64px;
  display: flex;
  justify-content: space-between;
  max-width: 100%;
}
// Dashboard
.masteriyo-dashboard {
  display: flex;
  flex-direction: column;
  flex: 1 1 74%;
  gap: 48px;
  ul {
    margin: 0;
    padding: 0;

    li {
      list-style-type: none;
    }
  }
}

// Welcome notify
.masteriyo-welcome-notify {
  background: $masteriyo-primary-color;
  @include masteriyo-border-radius;
  padding: 32px;
  color: $masteriyo-white-color;
  position: relative;

  .masteriyo-title {
    color: $masteriyo-white-color;
    font-size: 24px;
  }

  .masteriyo-close {
    position: absolute;
    right: 16px;
    top: 16px;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    .masteriyo-icon-svg {
      fill: $masteriyo-white-color;
    }
    &:hover {
      background: rgba($masteriyo-white-color, 0.1);
    }
  }

  .masteriyo-view-myaccount {
    display: inline-flex;
    align-items: center;
    border-radius: 100px;
    padding-left: 24px;
    &:hover {
      .masteriyo-icon-svg {
        fill: $masteriyo-white-color;
      }
    }
  }
}
// Dashboard Card
.masteriyo-db-card {
  @include masteriyo-default-border;
  @include masteriyo-border-radius;
  @include masteriyo-default-animate;
  padding: 30px;
  flex: 1 1 30%;
  // background: $masteriyo-$masteriyo-white-color-color;

  &:hover {
    @include masteriyo-shadow-1;
  }
}

// User counter
.masteriyo-counter {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  .masteriyo-icon-title {
    display: flex;
    align-items: center;
    gap: 16px;

    .masteriyo-icon {
      display: inherit;
      padding: 10px;
      border-radius: 100%;
    }
    .masteriyo-title {
      font-size: 18px;
      margin: inherit;
    }
  }

  &--inprogress .masteriyo-icon {
    background: lighten($masteriyo-green, 30%);
    &.masteriyo-icon-svg {
      fill: $masteriyo-green;
    }
  }
  &--scores .masteriyo-icon {
    background: lighten($masteriyo-primary-color, 20%);
    &.masteriyo-icon-svg {
      fill: $masteriyo-primary-color;
    }
  }
  &--certificates .masteriyo-icon {
    background: lighten($masteriyo-accent-color, 20%);
    &.masteriyo-icon-svg {
      fill: $masteriyo-accent-color;
    }
  }

  .masteriyo-number {
    font-size: 36px;
    font-weight: 600;
  }
}

// Statistic and Popular Cources
.masteriyo-sc {
  gap: 30px;

  &--stat {
    flex: 1 1 66%;

    &--header {
      margin-bottom: 20px;
    }
  }

  &--pcourse {
    flex: 1 1 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;

    &--title {
      font-size: 16px;
      margin: inherit;
    }

    &--list {
      gap: 10px;
    }

    &--img {
      width: 50px;
      height: 50px;
      @include masteriyo-border-radius;
    }

    &--course {
      display: flex;
      gap: 16px;
    }
    &--btn {
      display: flex;
      align-items: center;
    }
  }
}

// Continue Studing
.masteriyo-cstudy {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;

  &--header {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &--title {
    font-size: 24px;
    margin: inherit;
  }

  &--btn {
    display: inline-flex;
    align-items: center;
    border-radius: 100px;
  }

  &--body {
    &--wrap {
      gap: 30px;
      margin-bottom: 16px;

      & > * {
        flex-grow: 1;
      }
    }

    &--img-title {
      display: flex;
      flex-direction: row;
      gap: 16px;
    }

    &--img {
      width: 80px;
      height: 80px;
      @include masteriyo-border-radius;
    }

    &--rating.masteriyo-icon-svg > svg {
      width: 14px;
      height: 14px;
    }

    &--title {
      font-size: 18px;
      font-weight: 700;
      margin: inherit;
    }

    &--duration {
      display: inline-flex;
      align-items: center;
      gap: 4px;

      .masteriyo-icon-svg > svg {
        width: 16px;
        height: 16px;
      }
    }

    &--btn {
      border-radius: 100px;
    }
  }
}
