.masteriyo-mycourses {
  &--title {
    margin-bottom: 30px;
  }
}
// Courses list
.masteriyo-mycourses {
  &--list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 -15px;
    margin-bottom: 10px;
  }

  &--card {
    @include masteriyo-default-border;
    background: $masteriyo-white-color;
    margin: 15px 15px 30px 15px;
    flex-basis: calc((100% / 3) - 30px);
    max-width: 256px;
  }

  &--img {
    width: 100%;
  }

  &--detail {
    padding: 20px;
  }

  // Course header
  &--header {
    .masteriyo-icon-svg > svg {
      width: 18px;
      height: 18px;
    }
  }

  &--rt {
    gap: 10px;
  }

  &--rt,
  &--rating {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &--detail {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &--header--title {
    font-size: 18px;
    font-weight: 700;
    margin: 16px 0 0;
    padding-top: 14px;
  }

  // Course list body
  &--body {
    .masteriyo-time-wrap {
      display: flex;
      align-items: center;
      gap: 4px;

      .masteriyo-icon-svg > svg {
        width: 16px;
        height: 16px;
      }
    }
  }
  .masteriyo-pbar {
    margin-top: 10px;
  }

  &--footer {
    align-items: center;
  }
  &--btn {
    border-radius: 100px;
  }
}

// My certificates
.masteriyo-mycertificates {
  &--list {
    margin-bottom: 40px;
  }

  &--list-wrap > li {
    padding: 16px 0;
    border-bottom: 1px solid $masteriyo-border-color;
    &:last-of-type {
      border-bottom: none;
    }
  }

  .masteriyo-list-header {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
  }

  .masteriyo-c-img {
    width: 40px;
    height: 40px;
    @include masteriyo-border-radius;
  }

  .masteriyo-c-title {
    margin-left: 16px;
    margin-bottom: inherit;
    font-size: 16px;
    font-weight: 700;
  }

  .masteriyo-c-btn {
    border-radius: 100px;
  }
}
