.mto-edt-myaccount {
  &--tab-menu {
    border-bottom: 1px solid $mto-border-color;
    padding: 20px 0;
    margin-bottom: 40px;
    font-weight: 700;
    gap: 30px;

    & > * {
      cursor: pointer;
    }

    .mto-active-tab {
      color: $mto-primary-color;
    }
  }

  // Edit Profile.
  .mto-edt-profile--wrap {
    position: relative;
  }

  .mto-svg-icon svg {
    background: $mto-primary-color;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 20px;
    right: 0px;
    padding: 5px;
    fill: #fff;
    border-radius: 50px;
    cursor: pointer;
    z-index: 9;
  }

  .mto-edt-myaccount--img {
    border-radius: 100px;
    @include mto-shadow-1;
  }

  //Form.
  &--form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .mto-col-2 {
    gap: 30px;
    & > * {
      flex: 1;
    }
  }
}
.mto-pwd-security--btn,
.mto-edt-myaccount--btn {
  border-radius: 100px;
}

// Password and security.
.mto-pwd-security {
  &--form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex: 50%;
    margin-top: 30px;
  }
}
