.masteriyo-login {
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: $spacing_48px;

	&--wrapper {
		flex: 1;
	}

	&-btn {
		width: 100%;
	}

	.masteriyo-title {
		margin-bottom: $spacing_30px;
		color: var(--masteriyo-color-heading);
	}

	.masteriyo-input {
		margin-bottom: $spacing_24px;
	}

	.masteriyo-remember-forgot {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
	}

	.masteriyo-remember-forgot {
		margin-bottom: $spacing_24px;
	}

	.masteriyo-remember-me {
		display: flex;
		align-items: center;

		& > label {
			margin: 0;
		}
	}
}
