.mto {
  &-login {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-login--wrapper {
    width: clac(100vw - 50%);
    padding: 40px;
    @include mto-shadow-1;
    @include mto-default-border;
  }
  &-input {
    margin-bottom: 24px;
  }
  &-remember-forgot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
  }
  &-signin-up {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
