.mto-login {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &--wrapper {
    background: $mto-white-color;
  }

  &--title {
    margin-bottom: 30px;
  }

  .mto-input {
    margin-bottom: 24px;
  }

  .mto-btn-wrapper,
  .mto-remember-forgot {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .mto-remember-forgot {
    margin-bottom: 24px;
  }

  .mto-remember-me {
    display: flex;
    align-items: center;
    & > label {
      margin: 0;
    }
  }
}
