.masteriyo-myaccount {
	gap: 64px;

	// Header
	&--header {
		flex: 1 1 15%;
		min-width: 160px;
	}

	// Profile image.
	&-img {
		width: 160px;
		height: 160px;
		border-radius: $border_radius_100;
		@include masteriyo-shadow-1;
	}

	// Profile Name.
	&--name {
		font-size: 36px;
		margin-bottom: $spacing_10px;
	}

	// Membership
	&--membership {
		color: var(--masteriyo-color-text-light);
		display: block;
		margin-bottom: $spacing_20px;
	}

	// Body
	&--body {
		flex: 1 1 65%;
		gap: 64px;

		li {
			padding: $spacing_8px 0;
		}
	}
}
