.masteriyo-reset {
	display: flex;
	justify-content: center;
	align-items: center;

	&--wrapper {
		background: var(--masteriyo-color-white);
	}

	&--title {
		margin-bottom: $spacing_30px;
	}

	.masteriyo-input {
		margin-bottom: $spacing_24px;
	}

	.masteriyo-btn-wrapper {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
}
