.mto-reset {
  display: flex;
  justify-content: center;
  align-items: center;

  &--wrapper {
    background: $mto-white-color;
  }

  &--title {
    margin-bottom: 30px;
  }

  .mto-input {
    margin-bottom: 24px;
  }

  .mto-btn-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
