.masteriyo-reset {
  display: flex;
  justify-content: center;
  align-items: center;

  &--wrapper {
    background: $masteriyo-white-color;
  }

  &--title {
    margin-bottom: 30px;
  }

  .masteriyo-input {
    margin-bottom: 24px;
  }

  .masteriyo-btn-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
