.mto-signup {
  display: flex;
  justify-content: center;
  align-items: center;

  &--wrapper {
    background: $mto-white-color;
  }

  &--title {
    margin-bottom: 30px;
  }

  .mto-input {
    margin-bottom: 24px;
  }

  .mto-password {
    .mto-input {
      margin-bottom: 8px;
    }

    .mto-note {
      margin-bottom: 24px;
    }
  }

  .mto-btn-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .mto-remember-me {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    & > label {
      margin: 0;
    }
  }
}
