.masteriyo-signup {
  display: flex;
  justify-content: center;
  align-items: center;

  &--wrapper {
    background: $masteriyo-white-color;
  }

  &--title {
    margin-bottom: 30px;
  }

  .masteriyo-input {
    margin-bottom: 24px;
  }

  .masteriyo-password {
    .masteriyo-input {
      margin-bottom: 8px;
    }

    .masteriyo-note {
      margin-bottom: 24px;
    }
  }

  .masteriyo-btn-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .masteriyo-remember-me {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    & > label {
      margin: 0;
    }
  }
}
