.masteriyo-signup {
	display: flex;
	justify-content: center;
	align-items: center;

	&--wrapper {
		background: var(--masteriyo-color-white);
	}

	&--title {
		margin-bottom: $spacing_30px;
	}

	.masteriyo-input {
		margin-bottom: $spacing_24px;
	}

	.masteriyo-password {
		.masteriyo-input {
			margin-bottom: $spacing_8px;
		}

		.masteriyo-note {
			margin-bottom: $spacing_24px;
		}
	}

	.masteriyo-btn-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.masteriyo-remember-me {
		display: flex;
		align-items: center;
		margin-bottom: $spacing_24px;

		& > label {
			margin: 0;
		}
	}
}
