// Masteriyo Single course

.masteriyo-single-course {
	display: flex;
	flex-wrap: wrap;
	margin-top: -#{$spacing_15px};
	margin-left: -#{$spacing_15px};
	margin-right: -#{$spacing_15px};
	flex-direction: row;

	&--main {
		background-color: var(--masteriyo-color-white);
		border-radius: $border_radius_8;
		border: 1px solid var(--masteriyo-color-border);
		flex: 0 0 70%;
		height: 100%;
		padding: 0;

		.masteriyo-course-author {
			&--name {
				max-width: 100%;
			}
		}

		&__content {
			.masteriyo-stab {
				padding: 0 $spacing_32px;
			}

			.course-overview {
				padding: 0 $spacing_32px $spacing_32px;

				ul li p,
				ol li p {
					margin-bottom: $spacing_4px;
				}
			}
		}
	}

	&--title {
		font-size: 28px;
		font-weight: 700;
		margin-bottom: $spacing_16px;
		padding: 0 $spacing_32px;
	}

	&--title-tag {
		font-size: 14px;
		border-radius: $border_radius_50;
		position: absolute;
		top: 0;
	}

	&--btn {
		border-radius: $border_radius_100;
	}

	&--mdetail {
		display: flex;
		align-items: center;
		font-weight: 600;

		svg {
			margin-right: $spacing_8px;
			fill: var(--masteriyo-color-grey-dark);
		}
	}

	&--aside {
		background: var(--masteriyo-color-white);
		flex-basis: 100%;
		width: 100%;
		height: fit-content;
		border-radius: $border_radius_8;
		display: flex;
		flex-direction: column;
		padding-top: $spacing_24px;
		padding-bottom: $spacing_24px;
		border: 1px solid var(--masteriyo-color-border);

		.masteriyo-time-btn {
			padding: 0 $spacing_24px $spacing_24px;
			border-top: none;
			border-bottom: 1px solid var(--masteriyo-color-border);
		}

		.masteriyo-single-course-stats {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			padding: 0 $spacing_24px;

			& > div {
				flex: 1 1 50%;
				margin-top: $spacing_20px;
			}

			span {
				color: var(--masteriyo-color-text);
				font-size: 14px;
				font-weight: 400;
			}

			.masteriyo-icon-svg > svg {
				fill: var(--masteriyo-color-primary);
			}
		}

		.masteriyo-course--content__description {
			padding: 0 $spacing_24px;
			margin-top: $spacing_30px;
			margin-bottom: 0;

			.title {
				font-weight: bold;
				font-size: 16px;
				line-height: 120%;
			}
		}

		.masteriyo-sticky {
			z-index: 9;
		}

		.masteriyo-icon-svg {
			color: var(--masteriyo-color-placeholder);

			& > svg {
				width: 20px;
				height: 20px;
				fill: var(--masteriyo-color-grey-dark);
			}
		}
	}

	.masteriyo-course--content {
		//Image
		.masteriyo-course--img-wrap {
			margin-bottom: $spacing_20px;
		}

		//Title
		&__title {
			margin-bottom: $spacing_14px;
			padding: 0 $spacing_15px;
		}

		// Category
		&__category {
			display: flex;
			flex-wrap: wrap;
			padding: 0 $spacing_32px;
		}

		// Author and rating
		&__rt {
			display: flex;
			align-items: center;
			padding: 0 $spacing_32px;
		}

		// course desciption
		&__description {
			.title {
				margin-bottom: $spacing_14px;
			}

			ul {
				list-style: none;
				margin: 0;
				padding: 0;

				li {
					p {
						margin: 0;
						padding-left: $spacing_8px;
					}
				}

				li::before {
					content: ("\2713");
				}
			}
		}

		// course stats
		&__stats {
			display: flex;
			align-items: center;
			justify-content: space-between;

			& > div {
				display: flex;
				align-items: center;
				justify-content: center;
				color: var(--masteriyo-color-text-light);

				span {
					margin-left: $spacing_4px;
				}

				svg {
					width: 20px;
					height: 20px;
					fill: var(--masteriyo-color-text-light);
				}
			}
		}

		// price and enroll now
		.masteriyo-course-price {
			.old-amount {
				text-decoration: line-through;
				font-size: 16px;
				color: var(--masteriyo-color-text-light);
			}

			.current-amount {
				font-size: 24px;
				color: var(--masteriyo-color-text);
				font-weight: 700;
			}
		}

		&__title {
			line-height: 18px;
			margin: 0 0 $spacing_14px 0;

			&::before {
				content: "";
				display: none;
			}

			a {
				font-weight: bold;
				font-size: 18px;
				color: var(--masteriyo-color-grey-dark);
				text-decoration: none;
			}
		}
	}
}

// masteriyo-related-post
.masteriyo-related-post {
	margin-top: $spacing_24px;
	width: 100%;
	margin-left: -#{$spacing_15px};
	margin-right: -#{$spacing_15px};

	&__title {
		padding: 0 $spacing_15px;
		margin-bottom: $spacing_14px;
	}

	.masteriyo-course--card {
		background-color: var(--masteriyo-color-white);

		.masteriyo-course--content {
			padding: $spacing_24px;

			&__category {
				padding: 0;
			}

			&__title {
				padding: 0;
			}

			// Author and rating
			&__rt {
				padding: 0;
				justify-content: space-between;
			}
		}
	}
}

.masteriyo-stab-rs.border-none {
	border: none;
	padding: 0;
}

// Feature image.
.masteriyo-feature-img {
	position: relative;

	img {
		border-top-left-radius: $border_radius_8;
		border-top-right-radius: $border_radius_8;
	}

	.masteriyo-feature-course-image {
		width: 100%;
		max-height: 480px;
		object-fit: cover;
		object-position: center;
		border-top-right-radius: $border_radius_8;
		border-top-left-radius: $border_radius_8;
	}

	.masteriyo-price-tag,
	.masteriyo-heart {
		position: absolute;
	}

	.masteriyo-price-tag {
		top: 0;
		left: 0;
	}

	.masteriyo-price-tag {
		background: var(--masteriyo-color-primary);
		border-radius: 0 0 $border_radius_16 0;
		padding: $spacing_8px $spacing_16px;
		color: var(--masteriyo-color-white);
	}

	.masteriyo-heart {
		top: 20px;
		right: 20px;
		background: var(--masteriyo-color-white);
		border-radius: $border_radius_100;
		padding: $spacing_8px;
		@include masteriyo-shadow-1;

		&:hover {
			transform: scale(1.1);
		}
	}
}

// Tabs
.masteriyo-stab {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	border-top: 1px solid var(--masteriyo-color-border);
	border-bottom: 2px solid var(--masteriyo-color-border);
	font-size: 18px;
	font-weight: 600;
	margin-top: $spacing_12px;
	margin-bottom: $spacing_24px;
	word-break: break-all;

	> div {
		text-align: center;
		padding: $spacing_20px;
		cursor: pointer;
	}

	> .active-tab {
		font-weight: 700;
		border-bottom: 2px solid var(--masteriyo-color-primary);
		color: var(--masteriyo-color-primary);
		margin-bottom: -#{$spacing_2px};
	}

	// Curriculum tab
	.tab-content {
		.masteriyo-stab--shortinfo {
			padding-bottom: $spacing_24px;
			padding-left: $spacing_32px;
			padding-right: $spacing_32px;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: space-between;

			.title-container {
				display: flex;
				flex-direction: column;

				.title {
					margin: 0;
					font-weight: 500;
					font-size: 24px;
					line-height: 28px;
					margin-bottom: $spacing_12px;
				}
			}
		}

		ul.masteriyo-shortinfo-wrap {
			list-style: none;
			display: flex;
			flex-direction: row;
			margin: inherit;
			font-size: 14px;
			font-weight: 400;
			line-height: 16px;
			letter-spacing: 0.005em;
			padding: 0;
			margin-left: -#{$spacing_8px};
			margin-right: -#{$spacing_8px};
		}

		ul.masteriyo-shortinfo-wrap li {
			margin-left: $spacing_8px;
			margin-right: $spacing_8px;

			&:first-child::before {
				display: none;
			}

			&::before {
				content: "";
				background: var(--masteriyo-color-grey-dark);
				display: inline-block;
				width: 0.3em;
				height: 0.3em;
				margin: 0 $spacing_4px $spacing_2px 0;
				border-radius: $border_radius_50;
			}
		}

		.masteriyo-expand-collape-all {
			cursor: pointer;
			text-decoration: none;
		}
	}

	&--tcurriculum {
		.masteriyo-stab--shortinfo {
			padding-bottom: $spacing_24px;
			padding-left: $spacing_32px;
			padding-right: $spacing_32px;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: space-between;

			.title-container {
				display: flex;
				flex-direction: column;

				.title {
					margin: 0;
					font-weight: 500;
					font-size: 24px;
					line-height: 28px;
					margin-bottom: $spacing_12px;
				}
			}
		}

		ul.masteriyo-shortinfo-wrap {
			list-style: none;
			display: flex;
			flex-direction: row;
			margin: inherit;
			font-size: 14px;
			font-weight: 400;
			line-height: 16px;
			letter-spacing: 0.005em;
			padding: 0;
			margin-left: -#{$spacing_8px};
			margin-right: -#{$spacing_8px};
		}

		ul.masteriyo-shortinfo-wrap li {
			margin-left: $spacing_8px;
			margin-right: $spacing_8px;

			&:first-child::before {
				display: none;
			}

			&::before {
				content: "";
				background: var(--masteriyo-color-grey-dark);
				display: inline-block;
				width: 0.3em;
				height: 0.3em;
				margin: 0 $spacing_4px $spacing_2px 0;
				border-radius: $border_radius_50;
			}
		}

		.masteriyo-expand-collape-all {
			cursor: pointer;
			text-decoration: none;
		}

		& > div {
			&:not(:first-child) {
				border-top: 1px solid var(--masteriyo-color-border);
			}

			&:nth-child(2) {
				border-top-width: 2px;
			}
		}

		.masteriyo-stab--citems {
			cursor: pointer;

			&:first-of-type {
				border-top-width: 2px;
			}

			.masteriyo-cminus {
				display: none;
			}

			.masteriyo-cplus {
				svg {
					fill: var(--masteriyo-color-text-light);
				}
			}

			&.active {
				border-bottom: 0;

				.masteriyo-cminus {
					display: flex;
					align-items: center;
					justify-content: center;
					svg {
						fill: var(--masteriyo-color-text-light);
					}
				}

				.masteriyo-cheader {
					background: var(--masteriyo-color-primary);

					.masteriyo-ctitle,
					.masteriyo-ltc {
						color: var(--masteriyo-color-white);
					}
				}

				.masteriyo-cbody {
					max-height: 999px;
					@include masteriyo-default-border;
					background: var(--masteriyo-color-primary-lightest);
				}

				.masteriyo-cplus {
					display: none;
				}

				.masteriyo-cminus {
					display: block;
					background: var(--masteriyo-color-white);
					border-radius: $border_radius_50;
					width: 24px;
					height: 24px;
					@include masteriyo-shadow-1;
				}
			}
		}

		.masteriyo-cheader {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			padding: $spacing_24px $spacing_32px;
		}

		.masteriyo-ctitle {
			margin: inherit;
			font-size: 16px;
			font-weight: 700;
			letter-spacing: 0.005em;
			color: var(--masteriyo-color-heading);
		}

		.masteriyo-ltc {
			display: flex;
			flex-direction: row;
			font-size: 16px;

			& > * {
				margin-left: $spacing_16px;
			}
		}

		.masteriyo-cbody {
			max-height: 0;
			overflow: hidden;
			transition: max-height 200ms;
			border-top: 0;

			.masteriyo-lesson-icon {
				display: flex;
				margin-right: $spacing_8px;
			}
		}

		.masteriyo-lesson-list {
			margin: 0;
			padding: 0;
			list-style: none;

			li {
				padding: $spacing_16px 0;
				border-bottom: 1px solid var(--masteriyo-color-border);

				&:last-of-type {
					border-bottom: none;
				}
			}

			&__content {
				display: flex;
				align-items: center;
				padding: 0 $spacing_32px;

				&-item {
					display: flex;
					justify-content: space-between;
					align-items: center;
				}

				.masteriyo-right {
					width: 100%;
				}
			}
		}

		.masteriyo-time-btn {
			.masteriyo-btn {
				padding: $spacing_6px $spacing_12px;
				font-size: 10px;
			}
		}
		.masteriyo-lesson-list--btn {
			border-radius: $border_radius_100;
			text-transform: uppercase;
		}
	}

	// Faq Tab
	&--faq {
		.masteriyo-faq--item-header {
			overflow: hidden;
			border-bottom: 1px solid var(--masteriyo-color-border);
			padding: $spacing_16px $spacing_30px;
			font-size: 16px;
			font-weight: 600;
			cursor: pointer;

			&:last-of-type {
				border-bottom: 0;
			}
		}

		.masteriyo-faq--item-body {
			display: none;
			border-bottom: 1px solid var(--masteriyo-color-border);
			padding: $spacing_16px $spacing_30px;

			.content {
				margin: inherit;
			}
		}
	}

	// Reviews tab
	&--treviews {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0 $spacing_32px;
	}

	&-rs {
		border: 1px solid var(--masteriyo-color-border);
		margin: $spacing_20px auto;
		padding: $spacing_20px;
		border-radius: $border_radius_50;
		font-weight: 600;
		display: flex;
		align-items: center;

		.masteriyo-icon-svg > svg {
			width: 20px;
			height: 20px;
			fill: var(--masteriyo-color-golden);
		}

		.masteriyo-rnumber {
			margin-left: $spacing_8px;
		}
	}

	&--turating {
		text-align: center;
		margin-bottom: $spacing_30px;
	}
}

.masteriyo-item--wrap {
	display: flex;
	flex-wrap: wrap;

	.masteriyo-single-course-item {
		display: flex;
	}
}

.course-reviews {
	padding: 0 $spacing_32px $spacing_32px;

	.masteriyo-course-reviews-list {
		.masteriyo-course-review__content {
			display: flex;
			flex-wrap: nowrap;
			justify-content: space-between;
			border: none;
			width: 100%;

			.masteriyo-right {
				flex-basis: 90%;
				margin-left: $spacing_18px;

				&__rating {
					display: flex;
					align-items: flex-end;
					justify-content: space-between;

					.rating {
						margin-bottom: $spacing_14px;

						.masteriyo-rstar {
							display: flex;
							flex-wrap: wrap;

							svg {
								width: 14px;
								height: 14px;
								fill: var(--masteriyo-color-golden);
							}
						}
					}
				}

				.author-name {
					margin-right: $spacing_16px;
					font-size: 14px;
					font-weight: 500;
					text-transform: capitalize;
					line-height: 16px;
				}

				.date-created {
					font-size: 12px;
					line-height: 14px;
				}

				.title {
					font-size: 16px;
					font-weight: 700;
					line-height: 19px;
					margin-top: $spacing_16px;
					margin-bottom: $spacing_8px;
				}

				.content {
					font-size: 16px;
					line-height: 27px;
				}
			}
		}
	}

	.masteriyo-review {
		border-top: 1px solid var(--masteriyo-color-border);
		margin-top: $spacing_24px;
		padding-top: $spacing_24px;

		.masteriyo-avatar {
			img {
				width: 50px;
				height: 50px;
				overflow: hidden;
				border-radius: $border_radius_50pct;
				border: 2px solid rgba(0, 0, 0, 0.1);
			}
		}
	}

	.masteriyo-login-msg.masteriyo-submit-container {
		display: flex;
		width: 100%;
		align-items: center;
		justify-content: center;
		padding-top: $spacing_24px;
		margin-top: $spacing_40px;

		p {
			margin-bottom: 0;
		}
	}

	.masteriyo-link-login {
		margin: 0 $spacing_4px;
	}
}

// Review form.
.masteriyo-submit-container {
	.masteriyo--title {
		margin-top: $spacing_40px;
		margin-bottom: $spacing_16px;
		font-size: 24px;
		font-weight: 500;
		display: inline-block;
	}

	.masteriyo-rating {
		margin-top: 14px;
	}

	.masteriyo-btn-primary {
		margin-top: $spacing_16px;
	}

	.masteriyo-stab-rs {
		margin-top: 0;
	}
}

.masteriyo-reply-course-review {
	font-size: 14px;
	font-weight: 600;
	line-height: 16px;
	color: var(--masteriyo-color-primary);
	margin-top: $spacing_16px;
	display: inline-block;
	text-decoration: underline;
	cursor: pointer;
}

.masteriyo-replies {
	display: flex;
	flex-flow: unset;
	flex-direction: row;

	.masteriyo-reply-replies--title {
		.masteriyo-flex {
			align-items: center;
		}

		.author-name {
			margin-right: $spacing_16px;
			font-size: 14px;
			font-weight: 500;
			text-transform: capitalize;
			line-height: 16px;
		}
	}
}

.masteriyo-reply-replies {
	width: 100%;

	.masteriyo-right {
		margin-left: $spacing_24px;
		width: 100%;

		.content {
			font-size: 16px;
		}

		.masteriyo-reply-replies--title {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		.date-created {
			font-size: 12px;
			line-height: 14px;
		}
	}
}

.masteriyo-course-review-replies {
	width: 90%;
	float: right;
	margin-bottom: $spacing_24px;
}

.masteriyo-delete-review-notice {
	width: 100%;
	display: inline-block;
	margin-top: $spacing_24px;
	padding-top: $spacing_24px;
	border-top: 1px solid var(--masteriyo-color-border);
	font-style: italic;
	font-size: 14px;
}

.masteriyo-country-dropdown {
	display: flex;
	width: 100%;
	height: 42.16px;

	select {
		border: 1px solid #dee2e6;
		padding-top: 0;
		padding-bottom: 0;
	}
}

.masteriyo-login-msg {
	border-top: 2px solid var(--masteriyo-color-border);
}

// Overlay
.masteriyo-overlay {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.192);
	display: flex;
	justify-content: center;
	align-items: center;
}
