// Masteriyo Single course

.masteriyo-single-course {
	display: flex;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
	flex-direction: row;

	&--main {
		background-color: $masteriyo-white-color;
		@include masteriyo-shadow-1;
		border-radius: $border_radius_8;
		flex: 0 0 70%;
		height: 100%;
		padding: 0;

		.masteriyo-course-author {
			&--name {
				max-width: 100%;
			}
		}

		&__content {
			// Course review

			.masteriyo-stab {
				padding: 0 $spacing_32px;
			}

			.course-overview {
				padding: 0 $spacing_32px $spacing_32px;
			}
		}
	}

	&--title {
		font-size: 28px;
		font-weight: 700;
		margin-bottom: $spacing_24px;
		padding: 0 $spacing_32px;
	}

	&--title-tag {
		font-size: 14px;
		border-radius: 50px;
		position: absolute;
		top: 0;
	}

	&--badges {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 12px;
	}

	&--btn {
		border-radius: 100px;
	}

	&--mdetail {
		display: flex;
		align-items: center;
		font-weight: 600;

		svg {
			margin-right: $spacing_8px;
			fill: $masteriyo-dark-gray;
		}
	}

	&--aside {
		background: $masteriyo-white-color;
		flex-basis: 100%;
		width: 100%;
		height: fit-content;
		@include masteriyo-shadow-1;
		border-radius: $border_radius_8;
		gap: 20px;
		display: flex;
		flex-direction: column;
		padding-top: $spacing_24px;
		padding-bottom: $spacing_24px;

		.masteriyo-time-btn {
			padding: 0 $spacing_24px $spacing_24px;
			border-top: none;
			border-bottom: 1px solid $masteriyo-border-color;
		}

		hr {
			max-width: 100%;
			margin-bottom: 0;
			padding: 0 $spacing_24px;
		}

		.masteriyo-single-course-stats {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			row-gap: 18px;
			padding: 0 $spacing_24px;

			& > div {
				flex: 1 1 50%;
			}

			span {
				color: $masteriyo-text-color;
				font-size: 14px;
				font-weight: 400;
			}

			.masteriyo-icon-svg > svg {
				fill: $masteriyo-primary-color;
			}
		}

		.masteriyo-course--content__description {
			padding: 0 $spacing_24px;

			.title {
				font-weight: bold;
				font-size: 16px;
				line-height: 120%;
			}
			ul {
				display: flex;
				flex-direction: column;
				padding-left: $spacing_8px;

				li {
					margin-bottom: $spacing_8px;
				}
			}
		}

		.masteriyo-sticky {
			z-index: 9;
		}

		.masteriyo-icon-svg {
			color: $masteriyo-placeholder-color;

			& > svg {
				width: 20px;
				height: 20px;
				fill: $masteriyo-dark-gray;
			}
		}
	}

	.masteriyo-course--content {
		&__title {
			margin-bottom: $spacing_14px;
			padding: 0 $spacing_15px;
		}
		// Category
		&__category {
			display: flex;
			gap: 8px;
			flex-wrap: wrap;
			margin-bottom: $spacing_14px;
			padding: 0 $spacing_32px;
			margin-top: $spacing_28px;
		}

		// Author and rating
		&__rt {
			display: flex;
			align-items: center;
			margin-bottom: $spacing_14px;
			padding: 0 $spacing_32px;

			.masteriyo-course-author {
				display: flex;
				align-items: center;

				img {
					width: 32px;
					height: 32px;
					object-fit: cover;
					border-radius: 50%;
					border: 2px solid rgba(0, 0, 0, 0.1);
				}

				&--name {
					line-height: 16px;
					margin-left: $spacing_8px;
					font-weight: 500;
					overflow-wrap: break-word;
				}
			}

			.masteriyo-rating {
				font-size: 14px;
			}
		}

		// course desciption
		&__description {
			.title {
				margin-bottom: $spacing_14px;
			}

			ul {
				list-style: none;
				margin: 0;
				padding: 0;
				li {
					display: flex;
					padding: $spacing_4px 0;
					p {
						margin: 0;
						padding-left: $spacing_8px;
					}
				}
				li::before {
					content: ("\2713");
				}
			}
		}

		// course stats
		&__stats {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-top: $spacing_18px;
			margin-bottom: $spacing_18px;

			& > div {
				display: flex;
				align-items: center;
				justify-content: center;
				color: $masteriyo-light-text-color;

				span {
					margin-left: $spacing_4px;
				}

				svg {
					width: 20px;
					height: 20px;
					fill: $masteriyo-light-text-color;
				}
			}
		}

		// price and enroll now
		.masteriyo-course-price {
			.old-amount {
				text-decoration: line-through;
				font-size: 16px;
				color: $masteriyo-light-text-color;
			}

			.current-amount {
				font-size: 24px;
				color: $masteriyo-primary-color;
				font-weight: bold;
			}
		}

		&__title {
			line-height: 18px;
			margin: 0 0 $spacing_14px 0;

			&::before {
				content: "";
				display: none;
			}
			a {
				font-weight: bold;
				font-size: 18px;
				margin: 0 0 $spacing_20px 0;
				color: $masteriyo-dark-gray;
				text-decoration: none;
			}
		}
	}
}

// masteriyo-related-post
.masteriyo-related-post {
	margin-top: $spacing_24px;

	&__title {
		padding: 0 $spacing_15px;
		margin-bottom: $spacing_14px;
	}

	.masteriyo-course--card {
		background-color: $masteriyo-white-color;
		.masteriyo-course--content {
			padding: $spacing_24px;

			&__category {
				padding: 0;
				margin: 0 0 $spacing_14px 0;
			}

			&__title {
				padding: 0;
			}

			// Author and rating
			&__rt {
				padding: 0;
				justify-content: space-between;

				.masteriyo-course-author {
					display: flex;
					align-items: center;
					img {
						width: 32px;
						height: 32px;
						object-fit: cover;
						border-radius: 50%;
						border: 2px solid rgba(0, 0, 0, 0.1);
					}

					&--name {
						font-size: 14px;
						line-height: 16px;
						margin-left: $spacing_8px;
						font-weight: 500;
						max-width: 100px;
						overflow-wrap: break-word;
					}
				}

				.masteriyo-rating {
					display: flex;
					flex-wrap: wrap;
					align-items: center;
					margin-left: $spacing_62px;
					font-size: 14px;

					svg {
						fill: $masteriyo-primary-color;
						width: 16px;
						height: 16px;

						&:last-child {
							margin-right: $spacing_8px;
						}
					}
				}
			}
		}
	}
}

.masteriyo-stab-rs.boxshadow-none {
	box-shadow: none;
	padding: 0px;
}

// Feature image.
.masteriyo-feature-img {
	position: relative;
	img {
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
	}

	.masteriyo-feature-course-image {
		width: 100%;
		max-height: 480px;
		object-fit: cover;
		object-position: center;
		border-top-right-radius: 8px;
		border-top-left-radius: 8px;
	}

	.masteriyo-price-tag,
	.masteriyo-heart {
		position: absolute;
	}

	.masteriyo-price-tag {
		top: 0;
		left: 0;
	}

	.masteriyo-price-tag {
		background: $masteriyo-primary-color;
		border-radius: 0 0 $border_radius_16 0;
		padding: $spacing_8px $spacing_16px;
		color: $masteriyo-white-color;
	}

	.masteriyo-heart {
		top: 20px;
		right: 20px;
		background: $masteriyo-white-color;
		border-radius: $border_radius_100;
		padding: $spacing_8px;
		@include masteriyo-shadow-1;

		&:hover {
			transform: scale(1.1);
		}
	}
}

// Tabs
.masteriyo-stab {
	display: flex;
	flex-direction: row;
	gap: 40px;
	border-top: 1px solid $masteriyo-border-color;
	border-bottom: 2px solid $masteriyo-border-color;
	font-size: 18px;
	font-weight: 600;
	margin-bottom: $spacing_24px;
	margin-top: $spacing_32px;
	word-break: break-all;

	> div {
		font-weight: 700;
	}

	> * {
		padding: $spacing_15px 0;
		cursor: pointer;
	}

	> .active-tab {
		border-bottom: 2px solid $masteriyo-primary-color;
		color: $masteriyo-primary-color;
		margin-bottom: -2px;
	}

	// Curriculum tab
	&--tcurriculum {
		.masteriyo-stab--shortinfo {
			border-bottom: 2px solid $masteriyo-border-color;
			padding-bottom: $spacing_24px;
			padding-left: $spacing_32px;
			padding-right: $spacing_32px;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: space-between;

			.title-container {
				display: flex;
				flex-direction: column;

				.title {
					margin: 0;
					font-weight: 500;
					font-size: 24px;
					line-height: 28px;
					margin-bottom: $spacing_12px;
				}
			}
		}

		ul.masteriyo-shortinfo-wrap {
			list-style: none;
			display: flex;
			flex-direction: row;
			gap: 8px;
			margin: inherit;
			font-size: 14px;
			font-weight: 400;
			line-height: 16px;
			letter-spacing: 0.005em;
		}

		ul li:first-child::before {
			display: none;
		}
		ul li::before {
			content: "";
			background: $masteriyo-dark-gray;
			display: inline-block;
			width: 0.3em;
			height: 0.3em;
			margin: 0 $spacing_4px $spacing_2px 0;
			border-radius: $border_radius_50;
		}

		.masteriyo-expand-collape-all {
			cursor: pointer;
			text-decoration: none;
		}

		.masteriyo-stab--citems {
			border-bottom: 1px solid $masteriyo-border-color;
			cursor: pointer;

			.masteriyo-cminus {
				display: none;
			}

			&:last-of-type {
				border: none;
			}

			.masteriyo-cplus {
				svg {
					fill: $masteriyo-light-text-color;
				}
			}

			&.active {
				border-bottom: 0;

				.masteriyo-cminus {
					display: flex;
					align-items: center;
					justify-content: center;
					svg {
						fill: $masteriyo-light-text-color;
					}
				}

				.masteriyo-cheader {
					background: $masteriyo-primary-color;

					.masteriyo-ctitle,
					.masteriyo-ltc {
						color: $masteriyo-white-color;
					}
				}

				.masteriyo-cbody {
					max-height: 999px;
					@include masteriyo-default-border;
					background: #f5f8ff;
				}

				.masteriyo-cplus {
					display: none;
				}

				.masteriyo-cminus {
					display: block;
					background: $masteriyo-white-color;
					border-radius: 50px;
					width: 24px;
					height: 24px;
					@include masteriyo-shadow-1;
				}
			}
		}

		.masteriyo-cheader {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			padding: $spacing_24px $spacing_32px;
		}

		.masteriyo-ctitle {
			margin: inherit;
			font-size: 16px;
			font-weight: 700;
			letter-spacing: 0.005em;
			color: $masteriyo-heading-color;
		}

		.masteriyo-ltc {
			display: flex;
			flex-direction: row;
			gap: 16px;
		}

		.masteriyo-cbody {
			max-height: 0;
			overflow: hidden;
			transition: max-height 200ms;
			border-top: 0;

			.masteriyo-lesson-icon {
				display: flex;
				margin-right: $spacing_8px;
			}
		}

		.masteriyo-lesson-list {
			margin: 0;
			padding: 0;
			list-style: none;

			li {
				padding: $spacing_16px 0;
				border-bottom: 1px solid $masteriyo-border-color;

				&:last-of-type {
					border-bottom: none;
				}
			}

			&__content {
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: 0 $spacing_32px;

				&-item {
					display: flex;
					justify-content: space-between;
					align-items: center;
				}
			}
		}

		.masteriyo-time {
			gap: 8px;

			.masteriyo-icon-svg svg {
				width: 16px;
				height: 16px;
			}
		}
		.masteriyo-time-btn {
			.masteriyo-btn {
				padding: $spacing_6px $spacing_12px;
				font-size: 10px;
			}
		}
		.masteriyo-lesson-list--btn {
			border-radius: $border_radius_100;
			text-transform: uppercase;
		}
	}

	// Faq Tab
	&--faq {
		.masteriyo-faq--item-header {
			overflow: hidden;
			border-bottom: 1px solid $masteriyo-border-color;
			padding: $spacing_16px $spacing_30px;
			font-size: 16px;
			font-weight: 600;
			cursor: pointer;

			&:last-of-type {
				border-bottom: 0;
			}
		}

		.masteriyo-faq--item-body {
			display: none;
			border-bottom: 1px solid $masteriyo-border-color;
			padding: $spacing_16px $spacing_30px;

			.content {
				margin: inherit;
			}
		}
	}

	// Reviews tab
	&--treviews {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0 $spacing_32px;
	}

	&-rs {
		@include masteriyo-shadow-2;
		margin: $spacing_20px auto;
		padding: $spacing_20px;
		border-radius: 50px;
		gap: 20px;
		font-weight: 600;
		display: flex;
		align-items: center;

		.masteriyo-icon-svg > svg {
			width: 20px;
			height: 20px;
			fill: $masteriyo-primary-color;
		}
	}

	&--turating {
		text-align: center;
		margin-bottom: $spacing_40px;
	}
}

.masteriyo-item--wrap {
	display: flex;
	flex-wrap: wrap;

	.masteriyo-single-course-item {
		display: flex;
	}
}

.course-reviews {
	padding: 0 $spacing_32px $spacing_32px;

	.masteriyo-course-reviews-list {
		.masteriyo-course-review__content {
			display: flex;
			flex-wrap: nowrap;
			border: none;
			width: 100%;

			.masteriyo-right {
				margin-left: $spacing_18px;

				&__rating {
					display: flex;
					align-items: flex-end;
					justify-content: space-between;

					.rating {
						margin-bottom: $spacing_14px;

						.masteriyo-rstar {
							display: flex;
							flex-wrap: wrap;

							svg {
								width: 14px;
								height: 14px;
								fill: $masteriyo-primary-color;
							}
						}
					}
				}

				.author-name {
					margin-right: $spacing_16px;
					font-size: 14px;
					font-weight: 500;
					text-transform: capitalize;
					line-height: 16px;
				}

				.date-created {
					font-size: 12px;
					line-height: 14px;
				}

				.title {
					font-size: 16px;
					font-weight: 700;
					line-height: 19px;
					margin-top: $spacing_24px;
					margin-bottom: $spacing_16px;
				}

				.content {
					font-size: 16px;
					line-height: 27px;
				}
			}
		}
	}

	.masteriyo-review {
		border-bottom: 1px solid $masteriyo-border-color;
		margin-bottom: $spacing_16px;
		padding-bottom: $spacing_16px;

		.masteriyo-avatar {
			width: 50px;
			height: 50px;
			overflow: hidden;
			border-radius: $border_radius_50pct;
			border: 2px solid rgba(0, 0, 0, 0.1);
		}
	}

	.masteriyo-submit-container {
		.masteriyo-rating {
			margin-top: 14px;
		}
	}

	.masteriyo-login-msg.masteriyo-submit-container {
		display: flex;
		width: 100%;
		align-items: center;
		justify-content: center;
		padding-top: 24p;
	}
}

// Review form.
.masteriyo-submit-container {
	.masteriyo--title {
		margin-bottom: $spacing_32px;
	}

	.masteriyo-btn-primary {
		margin-top: $spacing_16px;
	}
}

.masteriyo-reply-course-review {
	font-size: 14px;
	font-weight: 600;
	line-height: 16px;
	color: $masteriyo-primary-color;
	margin-top: $spacing_16px;
	display: block;
	text-decoration: underline;
	cursor: pointer;
}

.masteriyo-replies {
	display: flex;
	flex-flow: unset;
	flex-direction: row;

	.masteriyo-reply-replies--title {
		.masteriyo-flex {
			align-items: center;
		}

		.author-name {
			margin-right: $spacing_16px;
			font-size: 14px;
			font-weight: 500;
			text-transform: capitalize;
			line-height: 16px;
		}
	}
}

.masteriyo-reply-replies {
	width: 100%;

	.masteriyo-right {
		margin-left: $spacing_24px;

		.content {
			font-size: 16px;
		}

		.masteriyo-reply-replies--title {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: $spacing_14px;
		}
	}
}

.masteriyo-course-review-replies {
	width: 90%;
	float: right;
	margin-bottom: $spacing_24px;
}

.masteriyo-country-dropdown {
	display: flex;
	width: 100%;
	height: 42.16px;

	select {
		border: 1px solid #dee2e6;
		padding-top: 0;
		padding-bottom: 0;
	}
}

.masteriyo-login-msg {
	border-top: 2px solid $masteriyo-border-color;
}

// Overlay
.masteriyo-overlay {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.192);
	display: flex;
	justify-content: center;
	align-items: center;
}
