// Font size in rem
@mixin font-size-px-rem($n) {
    font-size: ($n / 16) + rem;
}
// Border
@mixin border-default($b: 1) {
    border: ($b) + px solid $border-color;
}
@mixin border-radius() {
    border-radius: 4px;
}
// Shadow
@mixin shadow-1() {
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.13);
}

@mixin shadow-2() {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.13);
}

// Animation / Transition
@mixin animate($property, $duration, $easing) {
    transition: $property $duration $easing;
}
@mixin animate-default($property: all, $duration: 1s, $easing: ease-in-out) {
    transition: $property $duration $easing;
}

// Media Query
@mixin for-size($size) {
    @if $size == phone-only {
        @media (max-width: 599px) {
            @content;
        }
    } @else if $size == tablet-p-up {
        @media (min-width: 600px) {
            @content;
        }
    } @else if $size == tablet-l-up {
        @media (min-width: 900px) {
            @content;
        }
    } @else if $size == desktop-up {
        @media (min-width: 1200px) {
            @content;
        }
    } @else if $size == big-desktop-up {
        @media (min-width: 1800px) {
            @content;
        }
    }
}
