// Theme colors
$masteriyo-primary-color: #4584ff;
$masteriyo-accent-color: #fd739c;

// General colors
$masteriyo-white-color: #fff;
$masteriyo-lighter-gray: #fafbff;
$masteriyo-light-gray: #f9f9f9;
$masteriyo-dark-gray: #424360;
$masteriyo-green: #69db7c;
$masteriyo-background-gray: #f8f8f8;

// Heading colors
$masteriyo-heading-color: #07092f;

// Text colors
$masteriyo-text-color: #424360;
$masteriyo-light-text-color: #7c7d8f;
$masteriyo-dark-blue-color: #07092f;

// Button colors
$masteriyo-btn-gray: #424360;
$masteriyo-btn-dark-blue: #07092f;
$masteriyo-btn-hover-blue: #1262ff;
$masteriyo-btn-active-blue: #4c5cc1;

// Placeholder colors
$masteriyo-placeholder-color: #acacbe;

// Disabled colors
$masteriyo-disabled-color: #f9f9f9;
$masteriyo-disabled-text-color: #424360;

// Border colors
$masteriyo-border-color: #ebecf2;

//Required colors
$masteriyo-red: #ff0000;
.masteriyo-text-red {
	color: $masteriyo-red;
}

.masteriyo-bg-red {
	background: $masteriyo-red;
}

// Badge colors
$masteriyo-badge-blue: #4dabf7;
$masteriyo-badge-red: #ff5454;
$masteriyo-badge-green: #69db7c;
$masteriyo-badge-pink: #fd739c;

// Alert colors
$masteriyo-danger-color: #ff8787;
$masteriyo-info-color: #4dabf7;
$masteriyo-success-color: #69db7c;
$masteriyo-warning-color: #ffa94d;

$masteriyo-danger-border-color: #ffa8a8;
$masteriyo-info-border-color: #74c0fc;
$masteriyo-success-border-color: #8ce99a;
$masteriyo-waring-border-color: #ffc078;

// Social media colors
$masteriyo-facebook-color: #4267b2;
$masteriyo-gmail-color: #dd4b39;
$masteriyo-twitter-color: #55acee;
$masteriyo-linkedin-color: #2d7bb6;
$masteriyo-github: #242a2d;
