// Theme colors
$mto-primary-color: #78a6ff;
$mto-accent-color: #fd739c;

// General colors
$mto-white-color: #fff;
$mto-lighter-gray: #fafbff;
$mto-light-gray: #f9f9f9;
$mto-dark-gray: #424360;
$mto-green: #69db7c;

// Heading colors
$mto-heading-color: #07092f;

// Text colors
$mto-text-color: #424360;
$mto-light-text-color: #7c7d8f;
$mto-dark-blue-color: #07092f;

// Button colors
$mto-btn-gray: #424360;
$mto-btn-dark-blue: #07092f;
$mto-btn-hover-blue: #5f73f1;
$mto-btn-active-blue: #4c5cc1;

// Placeholder colors
$mto-placeholder-color: #acacbe;

// Disabled colors
$mto-disabled-color: #f9f9f9;
$mto-disabled-text-color: #424360;

// Border colors
$mto-border-color: #ebecf2;

//Required colors
$mto-red: #ff0000;
.mto-text-red {
  color: $mto-red;
}
.mto-bg-red {
  background: $mto-red;
}
// Badge colors
$mto-badge-blue: #4dabf7;
$mto-badge-red: #ff5454;
$mto-badge-green: #69db7c;
$mto-badge-pink: #fd739c;

// Alert colors
$mto-danger-color: #ff8787;
$mto-info-color: #4dabf7;
$mto-success-color: #69db7c;
$mto-warning-color: #ffa94d;

$mto-danger-border-color: #ffa8a8;
$mto-info-border-color: #74c0fc;
$mto-success-border-color: #8ce99a;
$mto-waring-border-color: #ffc078;

// Social media colors
$mto-facebook-color: #4267b2;
$mto-gmail-color: #dd4b39;
$mto-twitter-color: #55acee;
$mto-linkedin-color: #2d7bb6;
$mto-github: #242a2d;
