$size_container-width: 1200px;

/* Margin/Padding */

$spacing_2: em_value(2, 1.6);
$spacing_4: em_value(4, 1.6);
$spacing_8: em_value(8, 1.6);
$spacing_64: em_value(64, 1.6);

$spacing_2px: 2px;
$spacing_4px: 4px;
$spacing_6px: 6px;

$border_radius_2: 2px;
$border_radius_4: 4px;
$border_radius_8: 8px;
$border_radius_25: 50px;
